{% extends 'base.html' %}
{% block content %}
    <h1>Modification de {{ cyberparlement.nom }}</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
            <br>
        {% endfor %}
        <br>
        <input type="submit" value="Modifier">
    </form>
    <hr>
    <div>
        <label>Cyberchancelier:
            <select name="cyberchancelier" id="cyberchancelier">
                {% for member in members %}
                    <option value="{{ member.idpersonne }}">{{ member.prenom }} {{ member.nom }}</option>
                {% endfor %}
            </select>
        </label>
        <br>
        <input type="submit" id='submit-cyberchancelier' value="Enregistrer">
    </div>
{% endblock content %}
