{% extends 'base.html' %}
{% block content %}
    <div class="cp-all-container">
        <div class="title-cp">Création d'un cyberparlement dans <b>{{ cyberparlement.nom }}</b></div>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="field-container">
                    <div class="label">
                        {{ field.label }}
                    </div>
                    {{ field }}
                </div>
            {% endfor %}
            <div class="btn-save-container">
                <input class="btn-save" type="submit" value="Ajouter">
            </div>
        </form>
    </div>
{% endblock content %}
