<div class=cp-container>
    <div class="cp-element-container">
        <div class=cp-name>{{ cyberparlement.nom }}</div>
        <div class="cyberchancelier-cp-container tooltip">
            <i class="fas fa-crown"></i>
            <span class="tooltiptext">{{ cyberparlement.cyberchancelier.prenom }} {{ cyberparlement.cyberchancelier.nom }}</span>
        </div>
        <div class="status-cp-container" title="Brouillon">
            {% if cyberparlement.statut == draftstatuskey %}
                <i class="fas fa-exclamation-circle"></i>
            {% endif %}
        </div>
        {% if cyberparlement.visibilite == privatevisibilitykey %}
            <div class="visibility-cp-container" title="{{ privatevisibilityvalue }}">
                <i class="fas fa-lock"></i>
            </div>
        {% else %}
            <div class="visibility-cp-container" title="{{ publicvisibilityvalue }}">
                <i class="fas fa-eye"></i>
            </div>
        {% endif %}
        <div class=description-cp-container>
            {% if cyberparlement.description %}
                {{ cyberparlement.description }}
            {% else %}
                Aucune description
            {% endif %}
        </div>
        <div class="hide-cp-container" onclick="hideChildren(this)">
            <i class="fas fa-chevron-up"></i>
        </div>
    </div>
    {% for cyberchancelier in cyberparlement.allcyberchancelier %}
        {% if iduser|add:"0" == cyberchancelier.idpersonne %}
            <div class="cp-btn-container">
                <div class=update-cp-container>
                    <a href="{% url 'cyberP:cyberparlement-update' slug=cyberparlement.slug %}">
                        <button class="btn-cp btn-update" title="Modifier le cyberparlement">
                            <i class="fas fa-pen"></i> Modifier
                        </button>
                    </a>
                </div>
                <div class=member-list-cp-container>
                    <a href="{% url 'cyberP:cyberparlement-member-list' slug=cyberparlement.slug %}">
                        <button class="btn-cp btn-members" title="Afficher la liste des membres du cyberparlement">
                            <i class="fas fa-users"></i> Membres
                        </button>
                    </a>
                </div>
                <div class=add-cp-container>
                    <a href="{% url 'cyberP:cyberparlement-add' slug=cyberparlement.slug %}">
                        <button class="btn-cp btn-add" title="Ajouter un cyberparlement">
                            <i class="fas fa-plus"></i> Ajouter
                        </button>
                    </a>
                </div>
                {% if cyberparlement.statut == draftstatuskey and cyberparlement.cyberparlementparent_id != None %}
                    <div class=move-cp-container>
                        <a href="{% url 'cyberP:cyberparlement-move' slug=cyberparlement.slug %}">
                            <button class="btn-cp btn-add" title="Déplacer le cyberparlement">
                                <i class="fas fa-arrows-alt"></i> Déplacer
                            </button>
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}