{% extends 'base.html' %}
{% block content %}
    <div class="cp-all-container">
        <div class="title-cp">Membres de <b>{{ cyberparlement.nom }}</b></div>
        {% for member in members %}
            <div class="member-container">
                <div class="member-name">
                    {{ member.prenom }} {{ member.nom }}
                </div>
                {% if member.role != cyberchancelier %}
                    <div class="btn-ban-container">
                        <a href="{% url 'cyberP:cyberparlement-member-confirm-delete' pk=member.idmembrecyberparlement %}">
                            <button class="btn-ban">Ban</button>
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}