{% extends 'base.html' %}
{% block content %}
    <div class="cp-all-container">
        <div class="title-cp">Membres de <b>{{ cyberparlement.nom }}</b></div>
        <div class="member-list-container">
            {% for member in members %}
                {% if member.role != cyberchancelier %}
                    <div class="member-container">
                        <div class="member-name">
                            {{ member.prenom }} {{ member.nom }}
                        </div>
                        <div class="btn-ban-container">
                            <a href="{% url 'cyberP:cyberparlement-member-confirm-delete' pk=member.idmembrecyberparlement %}">
                                <button class="btn-ban" title="Exclure ce membre"><i class="fas fa-user-slash"></i></button>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}