{% extends 'base.html' %}
{% block content %}
    <div class="cp-all-container">
        <div class="title-cp-list">Authentification</div>
        <div class="user-field">
            <div class="user-label">Utilisateur</div>
            <label>
                <select name="user" id="user">
                    {% for personne in personnes %}
                        <option value="{{ personne.idpersonne }}">
                            {{ personne.prenom }} {{ personne.nom }}
                        </option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <input class="btn-save hidden" type="submit" id='submit-user' value="Enregistrer">
    </div>
{% endblock content %}