* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #646464;
    /*filter: invert(1) hue-rotate(180deg);*/
}

.base-container {
    background: rgb(255, 255, 255);
    max-width: 1250px;
    margin: auto;
    min-height: 100vh;
}

.cp-all-container {
    max-width: 1150px;
    margin: auto;
}

.title-cp {
    font-size: 40px;
    margin-bottom: 50px;
    padding-top: 40px;
}

.title-cp-list {
    font-size: 45px;
    padding: 30px 0 30px 0;
    width: 800px;
    text-align: center;
}

.cp-container {
    padding: 10px 8px 10px 8px;
    border: solid 1px black;
    margin-bottom: 10px;
}

.cp-element-container {
    display: grid;
    grid-template-columns: 12fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            "cp-n . . . cp-c"
            "cp-d cp-u cp-ml cp-a cp-mo";
}

.cp-list-container {
    padding: 5px;
}

.cp-name {
    font-size: 30px;
    padding-left: 10px;
    grid-area: cp-n;
}

.cyberchancelier-cp-container {
    margin-right: 8px;
    font-size: 22px;
    grid-area: cp-c;
    margin-left: 30px;
    color: #646464;
    transition: color 1s;
}

.cyberchancelier-cp-container:hover {
    color: #daa520;
}

.description-cp-container {
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-style: italic;
    grid-area: cp-d;
}

.update-cp-container {
    grid-area: cp-u;
}

.member-list-cp-container {
    grid-area: cp-ml;
}

.add-cp-container {
    grid-area: cp-a;
}

.move-cp-container {
    grid-area: cp-mo;
}

.btn-cp {
    font-size: 18px;
    width: 60px;
    height: 28px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    border: solid #646464 2px;
    color: #646464;
    transition: all 0.5s;
}

.btn-cp:hover {
    background-color: #646464;
    color: white;
}

.label {
    font-size: 24px;
    margin-bottom: 5px;
}

.field-container input {
    font-size: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.field-container select {
    margin-bottom: 20px;
    font-size: 20px;
    width: 30%;
    display: inline;
}

.btn-cyberchancelier-choice {
    font-size: 20px;
    width: 50%;
    height: 40px;
    color: white;
    border: solid #646464 2px;
    background-color: #646464;
    transition: all 0.5s;
    margin-bottom: 10px;
}

.btn-cyberchancelier-choice:hover {
    background-color: black;
    border-color: black;
}

.btn-save {
    font-size: 22px;
    width: 50%;
    height: 40px;
    color: white;
    border: solid black 2px;
    background-color: black;
    transition: all 0.5s;
}

.btn-save:hover {
    color: black;
    background-color: white;
}

.user-label {
    font-size: 24px;
    margin-bottom: 10px;
}

.user-field select {
    font-size: 20px;
    display: block;
    width: 30%;
    margin-bottom: 20px;
}

.member-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 11fr 1fr;
    border: solid black 1px;
    margin-bottom: 20px;
}

.member-name {
    font-size: 20px;
}

.btn-ban {
    font-size: 22px;
    width: 90px;
    height: 30px;
    color: white;
    border: solid black 2px;
    background-color: black;
    transition: all 0.3s;
}

.btn-ban:hover {
    background-color: #d60000;
}

/*.btn-add:hover {*/
/*    background-color: darkgreen;*/
/*    color: lightgreen;*/
/*    border-color: darkgreen;*/
/*}*/

/*.btn-update:hover {*/
/*    background-color: darkorange;*/
/*    color: lightgoldenrodyellow;*/
/*    border-color: darkorange;*/
/*}*/

/*.btn-members:hover {*/
/*    background-color: darkblue;*/
/*    color: lightskyblue;*/
/*    border-color: darkblue;*/
/*}*/
