* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    background: #646464;
}

button {
    cursor: pointer;
}

input[type=submit] {
    cursor: pointer;
}

.base-container {
    background: rgb(255, 255, 255);
    max-width: 1250px;
    margin: auto;
    min-height: 100vh;
}

.cp-all-container {
    max-width: 1150px;
    margin: auto;
}

.title-cp {
    font-size: 40px;
    margin-bottom: 50px;
    padding-top: 40px;
}

.title-cp-list {
    font-size: 45px;
    padding: 30px 0 30px 0;
    width: 800px;
    text-align: center;
}

.cp-element-container {
    display: grid;
    grid-template-columns: 24fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            "cp-n cp-s cp-v cp-c cp-h"
            "cp-d cp-d cp-d cp-d .";
}

.cp-move-element-container {
    display: grid;
    grid-template-columns: 26fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            "cp-n cp-c"
            "cp-d cp-d";
    cursor: pointer;
}

#cp-move-btn-container {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: white;
    border-top: solid #646464 2px;
}

#cp-move-submit {
    background-color: white;
    color: #646464;
    border: solid 1px #646464;
    height: 50px;
    width: 80%;
    margin: 10px;
    font-size: 20px;
    transition: 0.5s
}

#cp-move-submit:hover {
    background-color: #646464;
    color: white;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.bg-default {
    background-color: white;
}

.cp-list-container {
    margin: 5px;
}

.cp-container {
    padding: 15px;
    border: solid 1px black;
    margin-bottom: 10px;
}

.bg-selected {
    background-color: #cafaef;
}

.cp-name {
    font-size: 30px;
    padding-left: 10px;
    grid-area: cp-n;
}

.hide-cp-container {
    grid-area: cp-h;
    font-size: 20px;
    cursor: pointer;
}

.cyberchancelier-cp-container {
    margin-right: 8px;
    font-size: 20px;
    grid-area: cp-c;
    color: #646464;
    transition: color 1s;
}

.cyberchancelier-cp-container:hover {
    color: #daa520;
}

.visibility-cp-container {
    padding-top: 3px;
    font-size: 18px;
    grid-area: cp-v;
    color: #646464;
}

.status-cp-container {
    padding-top: 3px;
    font-size: 18px;
    grid-area: cp-s;
    color: #646464;
}

.description-cp-container {
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-style: italic;
    grid-area: cp-d;
}

.cp-btn-container {
    display: grid;
    text-align: center;
}

.btn-cp {
    font-size: 18px;
    width: 99%;
    margin-bottom: 5px;
    height: 40px;
    background-color: white;
    border: solid #646464 2px;
    color: #646464;
    transition: all 0.5s;
}

.btn-cp:hover {
    background-color: #646464;
    color: white;
}

.label {
    font-size: 24px;
    margin-bottom: 5px;
}

.field-container input {
    font-size: 20px;
    width: 30%;
    margin-bottom: 20px;
}

#id_description {
    width: 70%;
}

.field-container select {
    margin-bottom: 20px;
    font-size: 20px;
    width: 30%;
    display: inline;
}

.btn-cyberchancelier-choice {
    font-size: 20px;
    width: 200px;
    height: 60px;
    color: white;
    border: solid #646464 2px;
    background-color: #646464;
    transition: all 0.3s;
    margin-bottom: 20px;
}

.btn-cyberchancelier-choice:hover {
    background-color: #3b3b3b;
    border-color: #3b3b3b;
}

.btn-save {
    font-size: 22px;
    width: 400px;
    height: 40px;
    color: white;
    border: solid black 2px;
    background-color: black;
    transition: all 0.5s;
}

.btn-save:hover {
    color: black;
    background-color: white;
}

.user-label {
    font-size: 24px;
    margin-bottom: 10px;
}

.user-field select {
    font-size: 20px;
    display: block;
    width: 30%;
    margin-bottom: 20px;
}

.member-list-container {
    padding-bottom: 20px;
}

.member-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 12fr 1fr;
    border: solid black 1px;
    margin-bottom: 5px;
}

.member-name {
    font-size: 20px;
}

.btn-ban {
    font-size: 18px;
    width: 70px;
    height: 30px;
    color: white;
    border: solid black 2px;
    background-color: black;
    transition: all 0.3s;
}

.btn-ban:hover {
    background-color: #d60000;
}

.modal {
    position: relative;
}

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal-close {
    position: absolute;
    font-size: 20px;
    top: 10px;
    right: 17px;
    font-weight: bold;
    cursor: pointer;
}

.modal-cyberchancelier-choice {
    background-color: white;
    width: 800px;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.title-cyberchancelier-choice {
    font-size: 30px;
}

.cyberchancelier-label {
    font-size: 24px;
    margin-bottom: 10px;
}

.cyberchancelier-field select {
    font-size: 20px;
    display: block;
    width: 400px;
    margin-bottom: 20px;
}

.btn-cyberchancelier-save {
    font-size: 22px;
    width: 400px;
    height: 40px;
    color: white;
    border: solid black 2px;
    background-color: black;
}

.btn-cyberchancelier-save:hover {
    background-color: white;
    color: black;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #646464;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d2d2d2;
}
